body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

header {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header a {
  margin: 0.5rem;
  text-decoration: none;
  padding: 0.8rem;
}

.Hero {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

img {
  cursor: pointer;
  width: 200px;
  height: 270px;
  border-radius: 1rem;
}

a.active {
  background-color: black;
  color: rgb(203, 237, 251);
  border-radius: 2rem;
}

.Cards {
  width: 250px;
  height: 350px;
  background-color: rgb(203, 237, 251);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 2rem;
}

.Cards h2 {
  font-size: 1.2rem;
}

.Cards:hover {
  cursor: pointer;
}

input {
  margin: 1rem;
  display: block;
  border: 1px solid black;
  font-size: 1.2rem;
  padding: 0.7rem;
  border-radius: 2rem;
}
